<header>
    <div class="header-content">             
      <div class="header-content-inner">
          <%= image_tag "logo.png", class: "img-responsive center-block center-block-top image-half"%>
          <hr>
          <p class="margin-top">¡Optimiza las reuniones con tu equipo!</p>
            <% if current_user %>                  
              <div class="page-content inset">
                <p >¿Qué te gustaría hacer?<BR>
                  <button type="button" class="btn btn-primary btn-xl page-scroll" data-toggle="modal" data-target="#myModal">Crear</button>
                  <button  type="button" class="btn btn-primary btn-xl page-scroll" data-toggle="modal" data-target="#myModal2">Unirte</button>  
                </p>
              </div>   
            <% end %>
          </div>
    </div>
</header>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Comparte este ID, todos los que lo tengan se uniran al AllHands</h4>
      </div>
      <div class="modal-body">
        <%unless @current_user.nil?%>
          <p><%=@key_call= create_key(@current_user.id)%></p>
        <%end%>
      </div>
      <div class="modal-footer">
        <%=link_to "Iniciar",allhands_path(key_call: @key_call), controller: "allhands", action: "create",method: "post", :class=> "btn btn-default"%>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
  <%= form_tag(root_path, method: "get") do %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Escribe el ID para unirte al AllHands</h4>
      </div>
      <%=form_for :call,url:validate_allhands_path do |f| %>
        <div class="modal-body">
            <%=f.text_field :key , :class=>'form-control',:placeholder => 'Clave'%>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Iniciar', :class=> "btn btn-default" %>
        </div>
      <% end %>
    </div>
  <%end%>
  </div>
</div>